.row
  .col-md-12
    .jumbotron
      %h1 Material Books
      %p
        This is simple group knowledge sharing tool.
      %ul.list-inline
        %li
          = link_to 'Sign up', signups_path, class: 'btn btn-primary btn-lg'
        %li
          = link_to 'Sign in', '#'
