.row
  .col-md-12
    .jumbotron
      %h1
        You are almost there.
      %p
        Signing up with Material Books is free.
      %ul.list-inline
        %li
          = link_to 'Authorize with twitter', login_path(:twitter), class: 'btn btn-primary btn-lg'
